<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <style>
        .center-body{
            justify-content: center;
            text-align: center;
        }

        .text-template{
            margin-top: 20%;
        }
    </style>
</head>
<body>
    <div class="center-body">
        <h1 class="text-template">Yeay your Gin Structur Working!</h1>
        <p>support by mdhifta.</p>
    </div>
</body>
</html>